*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
/client/src/main/scala/io/scalac/octopus/client/CalendarTable.scala
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.cache*
.settings
.project
.classpath
*/bin

# IntelliJ IDEA
.idea
*.iml
out
*.sc

client/dist/*