@()
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Octopus on wire</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public","stylesheets/main.min.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public","images/favicon.png")">
</head>
<body>
<div id="root">
</div>

<script src="/assets/client-jsdeps.js" type="text/javascript"></script>
<script src="/assets/client-fastopt.js" type="text/javascript"></script>
<script>
            io.scalac.octopus.client.OctopusClient().buildWidget(document.getElementById("root"))
        </script>
</body>
</html>